# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
build
.svelte-kit
package
**/.env
**/.env.*
!**/.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
